/*  Google font */
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
/* CSS Variable*/
:root {
  --dark-bg-color-: rgba(109, 101, 101);
  --red-color-: red;
  --white-color-: white;
}

body {
  font-family: "Ubuntu", sans-serif;
  max-width: 1120px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: #000000;
}

.container {
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  margin: 0 auto;
}

.btn,
.remove-btn {
  flex-basis: 40%;
  font-size: 1.2em;
  width: 40%;
  padding: 8px 15px;
  background-color: var(--dark-bg-color-);

  border-radius: 4px;
  color: var(--white-color-);
  cursor: pointer;
  transition: color 0.2s ease;
  transition: background-color 0.2s ease;
}

.remove-btn {
  flex-basis: 40%;
  background-color: var(--dark-bg-color-);
  border: 1px solid #523535;
  border-radius: 4px;
  color: var(--white-color-);
  cursor: pointer;
  transition: color 0.2s ease;
  transition: background-color 0.2s ease;
}

.remove-btn:hover,
.btn:hover {
  border: 1px solid #000;
  background-color: var(--red-color-);
  color: var(--white-color-);
}

.btn:focus {
  background-color: var(--red-color-);
}
.remove-btn-gray {
  background-color: var(--dark-bg-color-);
}
